{% extends "dashboard/Templates/base.html" %}
{% load form_tags %}
{% load i18n %}

{% block page_content %}
<style>
    .page-title-box {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .documentation-btn {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: var(--ct-primary);
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.3s ease;
        text-decoration: none;
    }
    .documentation-btn:hover {
        background-color: var(--ct-primary-lighten-10);
        color: var(--ct-primary-darken-10);
        transform: translateY(-2px);
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    }
    .documentation-btn i {
        font-size: 20px;
    }
    .tooltip-inner {
        max-width: 200px;
        padding: 0.5rem 1rem;
        font-size: 0.875rem;
    }
    .modal {
        display: none; /* Esconde o modal por padrão */
        position: fixed; 
        z-index: 9999; 
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0,0,0,0.4); 
    }

    .modal-content {
        position: relative;
        background-color: white;
        margin: 10% auto;
        padding: 20px;
        border: 1px solid #888;
        width: 30%;
        text-align: center;
        border-radius: 8px;
    }
    .close {
        position: absolute;
        top: 10px; 
        right: 15px;
        font-size: 28px;
        font-weight: bold;
        color: #333;
        cursor: pointer;
    }
</style>

<div class="container-fluid">
    <!--
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <h4 class="page-title">{% trans "Add Basic Company Profile" %}</h4>
                <a href="{% url 'dashboard:platform_guide' %}#company-profiles" 
                   class="documentation-btn" 
                   data-bs-toggle="tooltip" 
                   data-bs-placement="left" 
                   title="{% trans 'Basic Company Profiles Documentation' %}">
                    <i class="mdi mdi-help-circle-outline"></i>
                </a>
            </div>
        </div>
    </div>
    -->

    <div class="row mb-3">
        <div class="col-12 page-title-box d-flex justify-content-between align-items-center">
            <h4 class="page-title">{% trans "Add Basic Company Profile" %}</h4>
            <a onclick="openModaldoc()" class="documentation-btn">
                <i class="mdi mdi-help-circle-outline"
                data-bs-toggle="tooltip" 
                   data-bs-placement="left" title="{% trans 'Risk Dashboard' %}"></i>
            </a>
        </div>
    </div>

    <div id="meuModal" class="modal">
        <div class="modal-content">
          <span class="close" onclick="closeModaldoc()">&times;</span>
          <h2>{% trans "Company Profiles" %}</h2>
          <h5 style="max-width: 450px; margin: 0 auto; margin-top: 20px; text-align: justify; font-weight: normal;">
            {% trans "The Company Profiles screen presents the companies that were registered on the platform for consultation, which can be Basic or Advanced profile. To edit a company, create a copy." %}
          </h5>
      
          <a href="{% url 'dashboard:platform_guide'%}#{% if is_copy %}company-copies{% else %}company-profiles{% endif %}" 
             class="btn btn-primary"
             style="max-width: 300px; display: block; margin: 0 auto; margin-top: 20px;"
             title="{% trans 'Company Profile Documentation' %}">
             {% trans "View Documentation" %}
          </a>
        </div>
      </div>

    <a href="{% url 'dashboard:add_advanced_company_profile' %}" class="btn btn-primary mb-3">
        {% trans "Switch to Advanced Company Profile" %}
    </a>

    <p class="text-muted">
        {% trans "The Basic Company Profile is simpler, but with fewer fields, calculations will not be as specific and precise." %}
    </p>

    <form method="post" class="form" id="company-profile-form">
        {% csrf_token %}

        <div class="row">
            <!-- Business Dimension -->
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <h4 class="header-title">{% trans "Business Dimension" %}</h4>
                        
                        {% for field in form %}
                            {% if field.name in 'name,headquarters_country,industry_type,employee_count' %}
                                <div class="mb-3">
                                    <label for="{{ field.id_for_label }}" class="form-label">
                                        {{ field.label }}
                                        <a tabindex="0" class="text-muted" role="button" data-bs-toggle="popover" data-bs-trigger="hover" title="{{ field.label }}" data-bs-content="{{ field.help_text }}">
                                            <i class="fas fa-question-circle"></i>
                                        </a>
                                    </label>
                                    {{ field|add_class:'form-control' }}
                                    {% if field.errors %}
                                        <div class="text-danger">{{ field.errors.as_text }}</div>
                                    {% endif %}
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>

            <!-- Economic Dimension -->
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <h4 class="header-title">{% trans "Economic Dimension" %}</h4>
                        {% include "dashboard/Templates/components/annual_revenue_component.html" with formset=revenue_formset %}
                        {% include "dashboard/Templates/components/cybersecurity_spending_component.html" with formset=spending_formset %}
                        {% include "dashboard/Templates/components/company_assets_component.html" with formset=assets_formset %}
                    </div>
                </div>
            </div>
        </div>

        <!-- Technical Dimension -->
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="header-title">{% trans "Technical Dimension" %}</h4>
                        
                        {% for field in form %}
                            {% if field.name in 'updated_inventory,backup_maintenance,risk_prioritization' %}
                                <div class="form-check form-switch mb-3">
                                    {{ field|add_class:'form-check-input' }}
                                    <label for="{{ field.id_for_label }}" class="form-check-label">
                                        {{ field.label }}
                                        <a tabindex="0" class="text-muted" role="button" data-bs-toggle="popover" data-bs-trigger="hover" title="{{ field.label }}" data-bs-content="{{ field.help_text }}">
                                            <i class="fas fa-question-circle"></i>
                                        </a>
                                    </label>
                                    {% if field.errors %}
                                        <div class="text-danger">{{ field.errors.as_text }}</div>
                                    {% endif %}
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <button type="submit" class="btn btn-primary">{% trans "Save" %}</button>
            </div>
        </div>
    </form>
</div>
<script>
    document.getElementById('company-profile-form').addEventListener('submit', function(e) {
        e.preventDefault();
        
        var formData = new FormData(this);

        fetch(this.action, {
            method: 'POST',
            body: formData,
            headers: {
                'X-CSRFToken': formData.get('csrfmiddlewaretoken'),
                'X-Requested-With': 'XMLHttpRequest'
            }
        })
        .then(response => response.json())
        .then(data => {
            console.log('Server response:', data);  // Log the server response
            if (data.success) {
                window.location.href = data.redirect_url;  // Redirect to the provided URL
            } else {
                // Display errors in a more user-friendly way
                let errorMessage = 'The following errors occurred:\n';
                for (let key in data.errors) {
                    if (typeof data.errors[key] === 'object') {
                        for (let subKey in data.errors[key]) {
                            errorMessage += `${key} ${subKey}: ${data.errors[key][subKey]}\n`;
                        }
                    } else {
                        errorMessage += `${key}: ${data.errors[key]}\n`;
                    }
                }
                alert(errorMessage);
            }
        })
        .catch(error => {
            console.error('Error:', error);
            alert('An error occurred while processing your request. Please try again.');
        });
    });
</script>

<script>
    function openModaldoc() {
        document.getElementById("meuModal").style.display = "block";
    }
    
    function closeModaldoc() {
        document.getElementById("meuModal").style.display = "none";
    }
    
    window.onclick = function(event) {
        var modal = document.getElementById("meuModal");
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }

</script>
{% endblock %}